.head {
    padding-left: 0px;
}

h2 {
    display: block;

}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20vw;
    background-color: rgb(66, 14, 14);
    color: rgb(255, 255, 255);
    cursor: default;
}
a{
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    padding-right: 5vw;
    font-size: larger;
    cursor: pointer;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
